<!DOCTYPE html>
<html>
	<head>
		<title>
			Les Rencontres Villermé (mailing)
		</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/y/build/cssreset/cssreset-min.css" />
		<link rel="stylesheet" href="/y/build/cssfonts/cssfonts-min.css" />
		<link rel="stylesheet" href="/y/build/cssbase/cssbase-min.css" />
		<link rel="stylesheet" href="/y/build/cssbutton/cssbutton.css" />
	    <style type="text/css">
		  body {padding:2em}
	      textarea{width:98%;}
	    </style>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
