<div class="holder">
	<div class="holder">
		Nous vous rappelons que la pertinence et l'efficacité du message accompagnant le film sont des critères de sélection et d'attribution des prix.<br/>
		<strong>L'inscription ne sera définitive que si le dossier est accompagné d'un DVD :<br/><strong>Fondation Entreprendre-Université Montpellier 1 CS 29555 34961 MONTPELLIER Cedex 2.</strong>
	</div>
</div>
<%= render 'form' %>
