<center>
<h3 id="notice"><%= notice %></h3>

<div class="holder">
	<p>Elle sera prise en compte dès réception du support DVD vidéo ou CD-Rom Mac ou PC.</p>
	<p><strong>Voici le rappel de l'adresse :'</strong></p>
	<address>
		Rencontres Villermé<br/>
		Espace Richter<br/>
		Rue Vendémiaire, Bt E<br/>
		CS 29 555<br/>
		34 961 Montpellier cedex 2
	</address>
	<p>Pour toute information : <a href="mailto:fondation@univ-montp1.fr">fondation@univ-montp1.fr</a></p>
</div>
</center>
