<div class="holder">
	<p>Le présent formulaire <strong>n'est pas le dossier de candidature</strong>, dont le contenu, sous forme libre, est détaillé dans le <a href="/z/pdf/prix-jeunes-realisateurs.pdf" target="_blank">règlement du Prix Jeunes Réalisateurs</a>.
	Il est destiné à formaliser une pré-inscription qui ne sera définitive qu'à la réception du dossier et du film&nbsp;:<br/>
	<em>Fondation Entreprendre-Université Montpellier 1 CS 29555 34961 MONTPELLIER Cedex 2.</em>.</p>
	<p><strong>Date limite d'envoi : 28 février 2014.</strong></p>
</div>
<%= render 'form' %>
