<center>
<h3 id="notice"><%= notice %></h3>

<div class="holder">
  <p>Un mail vient de vous être envoyé si vous voulez la modifier.<br/>
  Si vous renoncez à votre inscription, nous vous remercions de nous en avertir dès que possible.</p>
  <p><strong>Voici le rappel de l'adresse :</strong></p>
  <address>
    Rencontres Villermé<br/>
    Espace Richter<br/>
    Rue Vendémiaire, Bt E<br/>
    CS 29 555<br/>
    34 961 Montpellier cedex 2
  </address>
  <p>Pour toute information : <a href="mailto:fondation@univ-montp1.fr">fondation@univ-montp1.fr</a></p>
<br/>
  <p><%= link_to "Retour au site des Rencontres", root_url, target: "_top" %> </p>
</div>
</center>
