label{margin-right:30px;}
fieldset{border:none;padding:0;}
input[type="text"],textarea{border:none;border:1px solid #ccc;padding:3px 7px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:100%;width:500px;}
textarea{height:100px;}
div.holder,div.holder address{margin:1em;}
.field_with_errors label{padding:2px;border:2px solid #AE191E;display:table;}
#notice{/*color:green;*/}
.candid { margin: 2em; padding:1em;}
.candid h2 {color: navy;border-bottom:2px solid gold}
.candid h3 {margin-left:1em; color: #222;margin-bottom:0px}
.candid p {margin-left:3em; color:blue;font-size:110%}