<div id="footerEast" style="text-align:center">
  <img src="/z/jpg/Y0c.jpg" usemap="#partners" alt="Cliquez sur son logo pour accéder au site partenaire.">
  <map name="partners"> <!-- left, top, right, bottom -->
    <area coords="0,0,70,70" href="http://www.ac-montpellier.fr/" alt="Académie de Montpellier" target="_blank">
    <area coords="71,0,142,70" href="http://www.annuaire.com/restauration-collective/akte-services-akte-restauration-501907836/" alt="Akté" target="_blank">
    <area coords="143,0,214,70" href="http://altamira-films.com/altamira-films/Accueil.html" alt="Altamira" target="_blank">
    <area coords="215,0,306,70" href="http://www.ametra.asso.fr/WD160AWP/WD160Awp.exe/CONNECT/Portail_AmetraMontpellier" alt="AMETRA" target="_blank">
    <area coords="307,0,398,70" href="http://www.apave.com/" alt="Apave" target="_blank">
    <area coords="399,0,479,70" href="http://direccte.gouv.fr/-accueil-3-.html" alt="DIRECCTE LR" target="_blank">
    <area coords="480,0,602,70" href="http://www.montpellier.cci.fr/" alt="CCI Montpellier" target="_blank">
    <area coords="603,0,704,70" href="http://www.preventionbtp.fr/" alt="OPPBTP" target="_blank">
    <area coords="705,0,846,70" href="http://www.livres-medicaux.com/" alt="Sauramps" target="_blank">
    <area coords="847 0,970,70" href="http://www.thau-sante-travail.fr/" alt="Thau Santé Travail" target="_blank">
    <area coords="0,80,90,100" href="http://www.languedoc.aract.fr/" alt="Aract" target="_blank">
    <area coords="91,80,182,100" href="http://www.ardence.fr/" alt="Ardence" target="_blank">
    <area coords="183,80,274,150" href="http://lr.capeb.fr/" alt="CAPEB" target="_blank">
    <area coords="275,80,366,150" href="http://www.carsat-lr.fr/" alt="Carsat LR" target="_blank">
    <area coords="367,80,368,150" href="/" alt="fbc" target="_blank">
    <area coords="429,80,530,150" href="http://www.lalettrem.fr/" alt="Lettre M" target="_blank">
    <area coords="531,80,622,150" href="http://www.heraultjuridique.com/" alt="Hérault Juridique" target="_blank">
    <area coords="623,80,704,150" href="http://www.msa.fr/" alt="MSA" target="_blank">
    <area coords="705,80,806,150" href="http://www.objectif-lr.com/" alt="Objectif LR" target="_blank">
    <area coords="807,80,900,150" href="http://www.preventica.com/" alt="Preventica" target="_blank">
    <area coords="901,80,970,150" href="http://www.preventique.org/" alt="Preventique" target="_blank">
  </map>
</div>
