<div id="footerEast" style="text-align:center">
<img src="/z/jpg/Y0c.jpg" usemap="#partners" alt="Cliquez sur son logo pour accéder au site partenaire.">
<map name="partners"> <!-- left, top, right, bottom -->
<area coords="" href="http://www.ac-montpellier.fr/" alt="Académie de Montpellier" target="_blank">
<area coords="" href="http://www.annuaire.com/restauration-collective/akte-services-akte-restauration-501907836/" alt="Akté" target="_blank">
<area coords="" href="http://altamira-films.com/altamira-films/Accueil.html" alt="Altamira" target="_blank">
<area coords="" href="http://www.ametra.asso.fr/WD160AWP/WD160Awp.exe/CONNECT/Portail_AmetraMontpellier" alt="AMETRA" target="_blank">
<area coords="" href="http://www.apave.com/" alt="Apave" target="_blank">
<area coords="" href="http://direccte.gouv.fr/-accueil-3-.html" alt="DIRECCTE LR" target="_blank">
<area coords="" href="http://www.montpellier.cci.fr/" alt="CCI Montpellier" target="_blank">
<area coords="" href="http://www.preventionbtp.fr/" alt="OPPBTP" target="_blank">
<area coords="" href="http://www.livres-medicaux.com/" alt="Sauramps" target="_blank">
<area coords="" href="http://www.thau-sante-travail.fr/" alt="Thau Santé Travail" target="_blank">
<!-- aract -->
<area coords="" href="http://www.ardence.fr/" alt="Ardence" target="_blank">
<area coords="" href="http://lr.capeb.fr/" alt="CAPEB" target="_blank">
<area coords="" href="http://www.carsat-lr.fr/" alt="Carsat LR" target="_blank">
<!-- fbc -->  
<area coords="" href="http://www.lalettrem.fr/" alt="Lettre M" target="_blank">
<area coords="" href="http://www.heraultjuridique.com/" alt="Hérault Juridique" target="_blank">
<!-- msa -->  
<area coords="" href="http://www.objectif-lr.com/" alt="Objectif LR" target="_blank">
</map>
</div>
