<div id="footerEast" style="text-align:center">
  <img src="/z/jpg/Y0c.jpg" usemap="#partners" alt="Cliquez sur son logo pour accéder au site partenaire.">
  <map name="partners"> <!-- left, top, right, bottom -->
    <area coords="0,0,90,70" href="http://www.ac-montpellier.fr/" alt="Académie de Montpellier" target="_blank">
    <area coords="91,0,182,70" href="http://www.annuaire.com/restauration-collective/akte-services-akte-restauration-501907836/" alt="Akté" target="_blank">
    <area coords="183,0,274,70" href="http://altamira-films.com/altamira-films/Accueil.html" alt="Altamira" target="_blank">
    <area coords="275,0,366,70" href="http://www.ametra.asso.fr/WD160AWP/WD160Awp.exe/CONNECT/Portail_AmetraMontpellier" alt="AMETRA" target="_blank">
    <area coords="367,0,458,70" href="http://www.apave.com/" alt="Apave" target="_blank">
    <area coords="459,0,550,70" href="http://direccte.gouv.fr/-accueil-3-.html" alt="DIRECCTE LR" target="_blank">
    <area coords="551,0,642,70" href="http://www.montpellier.cci.fr/" alt="CCI Montpellier" target="_blank">
    <area coords="643,0,734,70" href="http://www.preventionbtp.fr/" alt="OPPBTP" target="_blank">
    <area coords="735,846,70" href="http://www.livres-medicaux.com/" alt="Sauramps" target="_blank">
    <area coords="847,970,70" href="http://www.thau-sante-travail.fr/" alt="Thau Santé Travail" target="_blank">
    <area coords="0,75,90,100" href="http://www.languedoc.aract.fr/" alt="Aract" target="_blank">
    <area coords="91,75,182,100" href="http://www.ardence.fr/" alt="Ardence" target="_blank">
    <area coords="183,75,274,100" href="http://lr.capeb.fr/" alt="CAPEB" target="_blank">
    <area coords="275,75,366,100" href="http://www.carsat-lr.fr/" alt="Carsat LR" target="_blank">
    <area coords="367,75,368,100" href="/" alt="fbc" target="_blank">
    <area coords="429,75,530,100" href="http://www.lalettrem.fr/" alt="Lettre M" target="_blank">
    <area coords="531,75,622,100" href="http://www.heraultjuridique.com/" alt="Hérault Juridique" target="_blank">
    <area coords="623,75,704,100" href="http://www.msa.fr/" alt="MSA" target="_blank">
    <area coords="705,75,826,100" href="http://www.objectif-lr.com/" alt="Objectif LR" target="_blank">
    <area coords="827,75,900,100" href="http://www.preventica.com/" alt="Preventica" target="_blank">
    <area coords="901,75,970,100" href="http://www.preventique.org/" alt="Preventique" target="_blank">
  </map>
</div>
